<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="%view.category.name"
            id="org.seasar.eclipse.maihime"/>
      <view
            category="org.seasar.eclipse.maihime"
            class="org.seasar.eclipse.maihime.MaihimeView"
            fastViewWidthRatio="%plugin.fastViewWidthRatio"
            icon="icons/maihime.gif"
            id="org.seasar.eclipse.maihime.view"
            name="%view.name"/>
   </extension>

</plugin>
